@using KitAplication.Models;
@model MessageModel

@{
    var selectedId = ViewData["RouteValueSelectSystem"];
}
<div class="shadow-border-small box-margin-top-bottom box-bg">
<form asp-action="UpdateMessage" asp-route-SelectSystem="@selectedId">
    <select class="form-control" asp-for="RoleName" id="exampleFormControlSelect1">
        <option>@Model.RoleName</option>
        @foreach (var role in ViewBag.Roles)
        {

                    <option class="selected-role" >@role</option>

        }

    </select>
 @*<span asp-validation-for="RoleName" class="text-danger"></span>*@
    <textarea asp-for="Content" type="text" rows="5" cols="15" class="form-control" placeholder="Content">@Model.Content</textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
    <input hidden asp-for="Id"/>
    <input hidden asp-for="SystemId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="d-flex">
            <button class="button-white mt-2" id="AddRole" placeholder="Content">Updatera</button>
            <a asp-action="Index" class="button-white mt-2" asp-route-SelectSystem="@selectedId" asp-route-updateMessageId="0">Ångra</a>
   </div>
    @if(ViewBag.Message !=null){
        @ViewBag.Message
    }
</form>
</div>

